# Set

In [1]:
# an unordered collection of immutable objects
# non-sequence

In [23]:
# initialize a set
S1 = set([1,2,3,4])
S2 = {'a','b','c','a'}
# S3 = set(1234) # integer is not iterable
S3 = {1,2,3,4}

In [5]:
S2

{'a', 'b', 'c'}

In [50]:
# set operations
S1 & S2 # intersection
S1 | S2 # union
S1 - S2 # difference

{'a', 'c', 's', 'b'}

{'s'}

In [24]:
# built-in functions
len(S1), min(S1), max(S1), sum(S3)

(4, 'a', 's', 10)

In [51]:
# sequence operations are not possible except membership test
'p' in set('spam')

True

In [25]:
# set attributes
print(dir(S3))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [29]:
S3.add((5,6,7)) # add adds a single element

In [32]:
S1.difference(S2) # equivalent of minus operator
S1.difference_update(S2) # equivalent of minus operator, but updates the set with difference

In [35]:
S1.update(S2) # equivalent of dictionary update - set update updates another set to current set

In [37]:
# remove element from set
S1.discard('b')
S1.remove('a')

In [39]:
S1.intersection(S2), S1.intersection_update(S2) # equivalent of & operator

In [43]:
S1.isdisjoint(S3) # returns True if S1 & S2 has mutually exclusive elements

True

In [44]:
S1.issubset(S2) # Set S1 is said to be the subset of set S2 if all elements of S1 are in S2 .

False

In [47]:
S1.pop() # pop doesn't take arguments ; returns an arbitrary element

'm'

In [49]:
S1.symmetric_difference(S2) # The symmetric difference of two sets is the set of elements which are in either of the sets but not in both.

({'c', 's'}, {'a', 'b', 'c'}, {'a', 'b', 's'})

### frozenset - an immutable set

In [1]:
f_str = frozenset('hello')

In [3]:
f_list = frozenset(list(range(1,10)) + list(range(2,5)))

In [5]:
f_dict = frozenset({1:True,2:False,3:False,4:True})